In [2]:
import pandas as pd
import numpy as np

In [3]:
dfname = "../../data/dataframe-all_lem_sets_emos_with_nrc_filt.tsv"

In [4]:
df = pd.read_csv(dfname, sep="\t")

/home/ruizfabo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## Compare octave and sestet for valence

In [5]:
df.insert(9, 'OctSes', np.where(df['StanzaNumber'].isin((1, 2)), "octave", "sestet"))

In [6]:
df.head(25)

,ID,SonnetID,Incipit,AuthorID,Author,Gender,Date,LineNumber,StanzaNumber,OctSes,...,trust_call,trust_echo,arousal_call,arousal_echo,dominance_call,dominance_echo,valence_call,valence_echo,valence_call_b,valence_echo_b
0,d823e266,s001g_0001,"Valencia insigne, patria venturosa,",disco_001g,Joseph Aragonés,M,17,1.0,1.0,octave,...,NaN,NaN,0.802837,NaN,NaN,NaN,0.708280,NaN,1,9
1,d823e272,s001g_0001,"Valencia insigne, patria venturosa,",disco_001g,Joseph Aragonés,M,17,2.0,1.0,octave,...,NaN,NaN,NaN,0.615603,NaN,NaN,NaN,0.540127,9,1
2,d823e278,s001g_0001,"Valencia insigne, patria venturosa,",disco_001g,Joseph Aragonés,M,17,3.0,1.0,octave,...,NaN,NaN,0.615603,0.690000,NaN,0.7630,0.540127,0.875000,1,1
3,d823e284,s001g_0001,"Valencia insigne, patria venturosa,",disco_001g,Joseph Aragonés,M,17,4.0,1.0,octave,...,NaN,NaN,NaN,0.451064,NaN,NaN,NaN,0.815287,9,1
4,d823e293,s001g_0001,"Valencia insigne, patria venturosa,",disco_001g,Joseph Aragonés,M,17,1.0,2.0,octave,...,NaN,NaN,0.451064,0.510638,NaN,NaN,0.815287,0.796178,1,1
5,d823e299,s001g_0001,"Valencia insigne, patria venturosa,",disco_001g,Joseph Aragonés,M,17,2.0,2.0,octave,...,NaN,0.617,0.690000,0.803500,0.7630,0.7665,0.875000,0.865000,1,1
6,d823e305,s001g_0001,"Valencia insigne, patria venturosa,",disco_001g,Joseph Aragonés,M,17,3.0,2.0,octave,...,0.617,NaN,0.803500,NaN,0.7665,NaN,0.865000,NaN,1,9
7,d823e311,s001g_0001,"Valencia insigne, patria venturosa,",disco_001g,Joseph Aragonés,M,17,4.0,2.0,octave,...,NaN,NaN,0.510638,NaN,NaN,NaN,0.796178,NaN,1,9
8,d823e320,s001g_0001,"Valencia insigne, patria venturosa,",disco_001g,Joseph Aragonés,M,17,1.0,3.0,sestet,...,NaN,0.477,0.496454,0.460993,NaN,NaN,0.738854,0.764331,1,1
9,d823e326,s001g_0001,"Valencia insigne, patria venturosa,",disco_001g,Joseph Aragonés,M,17,2.0,3.0,sestet,...,NaN,NaN,0.553191,0.659574,NaN,NaN,0.541401,0.592357,1,1
10,d823e332,s001g_0001,"Valencia insigne, patria venturosa,",disco_001g,Joseph Aragonés,M,17,3.0,3.0,sestet,...,NaN,NaN,NaN,0.652482,NaN,NaN,NaN,0.598726,9,1
11,d823e341,s001g_0001,"Valencia insigne, patria venturosa,",disco_001g,Joseph Aragonés,M,17,1.0,4.0,sestet,...,0.477,NaN,0.460993,NaN,NaN,NaN,0.764331,NaN,1,9
12,d823e347,s001g_0001,"Valencia insigne, patria venturosa,",disco_001g,Joseph Aragonés,M,17,2.0,4.0,sestet,...,NaN,NaN,0.659574,NaN,NaN,NaN,0.592357,NaN,1,9
13,d823e353,s001g_0001,"Valencia insigne, patria venturosa,",disco_001g,Joseph Aragonés,M,17,3.0,4.0,sestet,...,NaN,NaN,0.652482,NaN,NaN,NaN,0.598726,NaN,1,9
14,d471e279,s002g_0002,¿Qué es esto Entendimiento? ¿Qué revuelta,disco_002g,Benito Arias Montano,M,16,1.0,1.0,octave,...,NaN,NaN,0.794326,0.531915,NaN,NaN,0.356688,0.554140,0,1
15,d471e285,s002g_0002,¿Qué es esto Entendimiento? ¿Qué revuelta,disco_002g,Benito Arias Montano,M,16,2.0,1.0,octave,...,NaN,NaN,0.687943,0.531915,NaN,NaN,0.566879,0.331210,1,0
16,d471e291,s002g_0002,¿Qué es esto Entendimiento? ¿Qué revuelta,disco_002g,Benito Arias Montano,M,16,3.0,1.0,octave,...,NaN,NaN,0.531915,0.435461,NaN,NaN,0.331210,0.584713,0,1
17,d471e297,s002g_0002,¿Qué es esto Entendimiento? ¿Qué revuelta,disco_002g,Benito Arias Montano,M,16,4.0,1.0,octave,...,NaN,NaN,0.531915,0.482270,NaN,NaN,0.554140,0.566879,1,1
18,d471e306,s002g_0002,¿Qué es esto Entendimiento? ¿Qué revuelta,disco_002g,Benito Arias Montano,M,16,1.0,2.0,octave,...,NaN,NaN,0.482270,0.531915,NaN,NaN,0.566879,0.554140,1,1
19,d471e312,s002g_0002,¿Qué es esto Entendimiento? ¿Qué revuelta,disco_002g,Benito Arias Montano,M,16,2.0,2.0,octave,...,NaN,NaN,0.435461,0.531915,NaN,NaN,0.584713,0.564331,1,1
20,d471e318,s002g_0002,¿Qué es esto Entendimiento? ¿Qué revuelta,disco_002g,Benito Arias Montano,M,16,3.0,2.0,octave,...,NaN,NaN,0.531915,NaN,NaN,NaN,0.564331,NaN,1,9
21,d471e324,s002g_0002,¿Qué es esto Entendimiento? ¿Qué revuelta,disco_002g,Benito Arias Montano,M,16,4.0,2.0,octave,...,NaN,NaN,0.446809,NaN,NaN,NaN,0.515924,NaN,1,9
22,d471e333,s002g_0002,¿Qué es esto Entendimiento? ¿Qué revuelta,disco_002g,Benito Arias Montano,M,16,1.0,3.0,sestet,...,NaN,NaN,NaN,0.368794,NaN,NaN,NaN,0.636943,9,1
23,d471e339,s002g_0002,¿Qué es esto Entendimiento? ¿Qué revuelta,disco_002g,Benito Arias Montano,M,16,2.0,3.0,sestet,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,9
24,d471e345,s002g_0002,¿Qué es esto Entendimiento? ¿Qué revuelta,disco_002g,Benito Arias Montano,M,16,3.0,3.0,sestet,...,NaN,NaN,0.510638,0.574468,NaN,NaN,0.624204,0.757962,1,1

## Binary values

In [25]:
os_groups = df.groupby(['SonnetID', 'OctSes', 'valence_call_b'])['valence_call_b'].aggregate('count').unstack().unstack()

In [32]:
os_groups

valence_call_b                  0             1             9
OctSes                     octave sestet octave sestet octave sestet
SonnetID
AgustinDeSalazarYTorres_1     NaN    1.0    4.0    5.0    4.0    NaN
AgustinDeSalazarYTorres_10    4.0    3.0    4.0    3.0    NaN    NaN
AgustinDeSalazarYTorres_11    2.0    3.0    4.0    3.0    2.0    NaN
AgustinDeSalazarYTorres_12    2.0    1.0    3.0    4.0    3.0    1.0
AgustinDeSalazarYTorres_13    3.0    2.0    4.0    3.0    1.0    1.0
...                           ...    ...    ...    ...    ...    ...
s485g_1012                    3.0    2.0    5.0    3.0    NaN    1.0
s486g_1013_01                 2.0    1.0    3.0    4.0    3.0    1.0
s486g_1013_02                 4.0    1.0    3.0    5.0    1.0    NaN
s487g_1014                    1.0    2.0    4.0    3.0    3.0    1.0
s488g_1015                    2.0    NaN    4.0    2.0    2.0    4.0

[5814 rows x 6 columns]

In [26]:
type(os_groups)

pandas.core.frame.DataFrame

In [68]:
og = os_groups

In [69]:
og.columns.levels

FrozenList([[0, 1, 9], ['octave', 'sestet']])

In [74]:
og.loc[:, (0, 'octave')]

SonnetID
AgustinDeSalazarYTorres_1     NaN
AgustinDeSalazarYTorres_10    4.0
AgustinDeSalazarYTorres_11    2.0
AgustinDeSalazarYTorres_12    2.0
AgustinDeSalazarYTorres_13    3.0
                             ...
s485g_1012                    3.0
s486g_1013_01                 2.0
s486g_1013_02                 4.0
s487g_1014                    1.0
s488g_1015                    2.0
Name: (0, octave), Length: 5814, dtype: float64

Prepare data for a new dataframe with the binary value counts

In [86]:
og_new_data =  {'octave_0': og.loc[:, (0, 'octave')],
                'octave_1': og.loc[:, (1, 'octave')],
                'octave_9': og.loc[:, (9, 'octave')],
                'sestet_0': og.loc[:, (0, 'sestet')],
                'sestet_1': og.loc[:, (1, 'sestet')],
                'sestet_9': og.loc[:, (9, 'sestet')]}

In [89]:
og_new_df = pd.DataFrame(og_new_data)

In [90]:
og_new_df

,octave_0,octave_1,octave_9,sestet_0,sestet_1,sestet_9
SonnetID,,,,,,
AgustinDeSalazarYTorres_1,NaN,4.0,4.0,1.0,5.0,NaN
AgustinDeSalazarYTorres_10,4.0,4.0,NaN,3.0,3.0,NaN
AgustinDeSalazarYTorres_11,2.0,4.0,2.0,3.0,3.0,NaN
AgustinDeSalazarYTorres_12,2.0,3.0,3.0,1.0,4.0,1.0
AgustinDeSalazarYTorres_13,3.0,4.0,1.0,2.0,3.0,1.0
...,...,...,...,...,...,...
s485g_1012,3.0,5.0,NaN,2.0,3.0,1.0
s486g_1013_01,2.0,3.0,3.0,1.0,4.0,1.0
s486g_1013_02,4.0,3.0,1.0,1.0,5.0,NaN
s487g_1014,1.0,4.0,3.0,2.0,3.0,1.0
s488g_1015,2.0,4.0,2.0,NaN,2.0,4.0

In [92]:
og_new_df = og_new_df.rename_axis('SonnetID').reset_index()

In [93]:
og_new_df

,SonnetID,octave_0,octave_1,octave_9,sestet_0,sestet_1,sestet_9
0,AgustinDeSalazarYTorres_1,NaN,4.0,4.0,1.0,5.0,NaN
1,AgustinDeSalazarYTorres_10,4.0,4.0,NaN,3.0,3.0,NaN
2,AgustinDeSalazarYTorres_11,2.0,4.0,2.0,3.0,3.0,NaN
3,AgustinDeSalazarYTorres_12,2.0,3.0,3.0,1.0,4.0,1.0
4,AgustinDeSalazarYTorres_13,3.0,4.0,1.0,2.0,3.0,1.0
...,...,...,...,...,...,...,...
5809,s485g_1012,3.0,5.0,NaN,2.0,3.0,1.0
5810,s486g_1013_01,2.0,3.0,3.0,1.0,4.0,1.0
5811,s486g_1013_02,4.0,3.0,1.0,1.0,5.0,NaN
5812,s487g_1014,1.0,4.0,3.0,2.0,3.0,1.0
5813,s488g_1015,2.0,4.0,2.0,NaN,2.0,4.0

In [95]:
df2 = og_new_df

In [124]:
len(df2)

5814

Number of left out sonnets given octave which does not add to 8 (or na)

In [182]:
no_adds = df2.loc[(df2['octave_0'] + df2['octave_1'] + df2['octave_9']).isin((8, np.nan)) == False]

In [123]:
len(no_adds)

98

Number of left out sonnets given sestet which does not add to 6 (or na)

In [183]:
no_adds_sestet = df2.loc[(df2['sestet_0'] + df2['sestet_1'] + df2['sestet_9']).isin((6, np.nan)) == False]

In [184]:
len(no_adds_sestet)

86

Filter to keep only cases where at least 6 rhyme-words found in lexica in octave, and at least 4 in sestet

In [189]:
df3 = df2.loc[((df2['octave_0'] + df2['octave_1']) >= 6) & ((df2['sestet_0'] + df2['sestet_1']) >= 5)]

In [180]:
df3

,SonnetID,octave_0,octave_1,octave_9,sestet_0,sestet_1,sestet_9
1,AgustinDeSalazarYTorres_10,4.0,4.0,NaN,3.0,3.0,NaN
2,AgustinDeSalazarYTorres_11,2.0,4.0,2.0,3.0,3.0,NaN
4,AgustinDeSalazarYTorres_13,3.0,4.0,1.0,2.0,3.0,1.0
5,AgustinDeSalazarYTorres_14,1.0,7.0,NaN,2.0,4.0,NaN
7,AgustinDeSalazarYTorres_16,2.0,5.0,1.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...
5806,s483g_1009,3.0,5.0,NaN,1.0,4.0,1.0
5807,s483g_1010,2.0,4.0,2.0,2.0,2.0,2.0
5808,s484g_1011,3.0,4.0,1.0,2.0,4.0,NaN
5809,s485g_1012,3.0,5.0,NaN,2.0,3.0,1.0
5811,s486g_1013_02,4.0,3.0,1.0,1.0,5.0,NaN

In [194]:
len(df3)/len(df2)

0.5784313725490197

In [170]:
df3 = df3.drop(columns=["xxxx"])

In [190]:
for posneg in ("0", "1"):
    new_colname = f"oct{posneg}_m_ses{posneg}"
    print(f"Adding column {new_colname} based on 'octave_{posneg}' - 'sestet_{posneg}'")
    df3[new_colname] = df3[f'octave_{posneg}'] - df3[f'sestet_{posneg}']

Adding column oct0_m_ses0 based on 'octave_0' - 'sestet_0'
Adding column oct1_m_ses1 based on 'octave_1' - 'sestet_1'

/home/ruizfabo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [191]:
df3

,SonnetID,octave_0,octave_1,octave_9,sestet_0,sestet_1,sestet_9,oct0_m_ses0,oct1_m_ses1
1,AgustinDeSalazarYTorres_10,4.0,4.0,NaN,3.0,3.0,NaN,1.0,1.0
2,AgustinDeSalazarYTorres_11,2.0,4.0,2.0,3.0,3.0,NaN,-1.0,1.0
4,AgustinDeSalazarYTorres_13,3.0,4.0,1.0,2.0,3.0,1.0,1.0,1.0
5,AgustinDeSalazarYTorres_14,1.0,7.0,NaN,2.0,4.0,NaN,-1.0,3.0
8,AgustinDeSalazarYTorres_17,1.0,5.0,2.0,2.0,4.0,NaN,-1.0,1.0
...,...,...,...,...,...,...,...,...,...
5802,s480g_1005,3.0,5.0,NaN,3.0,2.0,1.0,0.0,3.0
5806,s483g_1009,3.0,5.0,NaN,1.0,4.0,1.0,2.0,1.0
5808,s484g_1011,3.0,4.0,1.0,2.0,4.0,NaN,1.0,0.0
5809,s485g_1012,3.0,5.0,NaN,2.0,3.0,1.0,1.0,2.0
5811,s486g_1013_02,4.0,3.0,1.0,1.0,5.0,NaN,3.0,-2.0

In [193]:
df3.to_csv("../../data/octave_vs_sestet_valence_binary_new.tsv", index=False, sep="\t")